<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca em Matriz - Interface</title>
</head>
<body>
    <h1>Busca em Matriz - Interface</h1>
    <form action="/resultado" method="post">
        <label for="origem_x">Origem X:</label>
        <input type="number" id="origem_x" name="origem_x">
        <label for="origem_y">Origem Y:</label>
        <input type="number" id="origem_y" name="origem_y"><br><br>
        <label for="destino_x">Destino X:</label>
        <input type="number" id="destino_x" name="destino_x">
        <label for="destino_y">Destino Y:</label>
        <input type="number" id="destino_y" name="destino_y"><br><br>
        
        <!-- Adicionando opção de escolha -->
        <label for="tipo_busca">Tipo de Busca:</label>
        <select id="tipo_busca" name="tipo_busca">
            <option value="amplitude">Amplitude</option>
            <option value="profundidade">Profundidade</option>
        </select><br><br>
        
        <input type="submit" value="Buscar">
    </form>
</body>
</html>


